/* Responsivo */
@media (max-width: 768px) {
  .navegacao {
    display: none;
  }

  p {
    text-align: center;
  }
  .interface {
    flex-direction: column;
    align-items: center;
  }
  h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .cabecalho .txt h1,
  h1 {
    font-size: 2rem;
  }
  .cabecalho .txt {
    text-align: center;
  }
  .cabecalho .txt span {
    font-size: 20px;
  }
  .cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cabecalho img {
    width: 200px;
  }
  .cabecalho .txt p.descricao {
    font-size: 18px;
    text-align: center;
  }
  .paragrafo-sobre {
    font-size: 18px;
    text-align: center;
    padding: 1rem;
    width: 300px;
  }

  .txt-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    flex-direction: column-reverse;
  }

  .txt-sobre .foto-sobre img {
    width: 200px !important;
  }
  .sobre .txt-sobre .redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section.jornada .interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .detalhes .tab.active {
    max-height: 710px;
  }

  section.jornada .detalhes {
    height: 540px;
  }
  .detalhes .box {
    padding: 10px;
    width: 300px;
    height: auto;
  }
  .licenciatura .box-licenciatura,
  .experiencia .box-experiencia {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: auto;
    width: auto;
    max-height: 400px;
    overflow-y: auto;
  }
  .licenciatura .box-licenciatura::-webkit-scrollbar,
  .experiencia .box-experiencia::-webkit-scrollbar {
    display: block !important;
  }

  .card {
    width: 300px;
    height: auto;
  }
  .contactos .interface {
    gap: 0;
  }

  .projectos .cotacao {
    padding: 0 1rem;
    align-items: center;
  }
  .projectos .cotacao .box {
    width: 250px;
    height: auto;
    padding: 15px;
    text-align: center;
  }
  .projectos .cotacao .box i {
    font-size: 1.5rem;
  }

  .projectos .cotacao .box p {
    font-size: 1rem;
  }

  .projectos .cotacao .box article {
    font-size: 15px;
  }
}
@media screen and (max-width: 1000px) {
  section .txt h1 {
    text-align: center;
    margin-bottom: -10px;
    margin-top: -10px;
  }
  .detalhes .tab.active {
    max-height: 710px;
  }
  .cabecalho .txt {
    padding-bottom: 10px;
  }

  .paragrafo-sobre {
    width: auto;
  }

  .licenciatura .box-licenciatura,
  .experiencia .box-experiencia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: auto;
    width: auto;
  }
  section.jornada .detalhes {
    height: auto;
    padding: 10px;
  }
}
